.products {
    grid-area: products;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .products-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: min-content;
        gap: 20px;

    }

}


@media (max-width: 992px) {

    .products {
        .products-wrapper {
            grid-template-columns: 1fr 1fr 1fr;

        }
    }
}


@media (max-width: 796px) {

    .products {
        .products-wrapper {
            grid-template-columns: 1fr;

        }
    }
}


