@import "../../../App.scss";



.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  .nav-btn {
    background-color: $medium-blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $green;
    }

    i {
      color: $light-blue;
      margin-right: 5px;
    }
  }
}