@import "../../App.scss";


.header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background-color: $dark-blue;

  .store-name {
    font-size: 32px;
    font-weight: bold;
    color: $green;
  }

  .nav-links {
    display: flex;
    gap: 10px;


    .header-btn {
      position: relative;
    }

    .header-btn::after {
      content: attr(data-basket-amount);
      position: absolute;
      top: -6px; /* Adjust these values as needed */
      right: -6px;
      width: 20px; /* Adjust to suit your design */
      height: 20px;
      border-radius: 50%;
      background-color: red;
      color: white !important;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      margin-right: 2px;
  }

    li,
    button {
      text-decoration: none;
      color: $light-blue;
      transition: color 0.2s;
      list-style-type: none;
      padding: 6px 12px;
      font-size: 18px;
      background-color: transparent;
      border: none;

      &:hover {
        color: $green;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 796px) {
    padding: 0 10px;

    .store-name {
      font-size: 18px;
    }

    .nav-links li,
    .nav-links button {
      font-size: 14px;
    }
  }
}