@import "../../App.scss";


.sidebar {
  grid-area: sidebar;
  background-color: white;
  padding: 10px;
  color: $medium-blue;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  b {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    .sidebar-selected {
      text-decoration: underline;
      color: darken($green, 40%);
    }

    li {
      padding: 5px 0;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: $green;
      }
    }
  }

  .hr {
    border-top: 1px solid $medium-blue;
  }
}