@import "../../App.scss";

$sidebar-background: white;
$sidebar-shadow: rgba(0, 0, 0, 0.15);
$sidebar-text: $medium-blue;
$sidebar-hover: $green;

.sidebar {
  grid-area: sidebar;
  background-color: $sidebar-background;
  padding: 10px;
  color: $sidebar-text;
  box-shadow: 0 0 10px 0 $sidebar-shadow;

  b {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    
    li {
      padding: 5px 0;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: $sidebar-hover;
      }
    }
  }

  .hr {
    border-top: 1px solid $sidebar-text;
  }
}
