@import "../../App.scss";


.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: $medium-blue;
  color: $light-blue;

  div, a {
    transition: color 0.2s;
    text-decoration: none;
    color: inherit; 


    a:hover {
      color: $green;
      cursor: pointer;
    }
  }
}